@import "src/assets/scss/app-variables";

.fuels-banner {
    height: 100vh;
    background: url('assets/images/bg.png');
    background-size: cover;
    top: -78px;
}

.btn-youtube {
    border: 1px black solid;
    border-radius: 5px;

    &:hover {
        background: black;
        color: white;
    }
}

.comment-area {
    height: 200px;
    border: 1px solid #e4e6f2;
    border-radius: 5px;
    box-shadow: 0 19px 40px rgba(187,192,211,.2);
    height: 316px;
    max-width: 720px;
    min-width: 550px;
    padding: 10px 10px 16px;

    &:focus {
        border: 1px solid #e4e6f2;
        border-radius: 5px;
        outline: none;
        box-shadow: 0 19px 40px rgba(187,192,211,.2);
    }
}

.ban-badge {
    height: 50px;
    width: 100%;
    text-align: left;
    font-size: 26px;
    background: $primary;;
    color: white;
    line-height: 1.5;
}
.verify-badge {
    height: 50px;
    width: 100%;
    text-align: left;
    font-size: 26px;
    background: green;;
    color: white;
    line-height: 1.5;
}

#result {
    margin-bottom: 100px;
    transition-duration: .4s;
}