<div class="fuels-banner position-relative">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-12 my-auto">
        <div class="container">
          <div class="row">
            <div class="col-6">
              <div class="container">
                <div class="row">
                  <div class="col-12">
                    <h3 class="font-weight-bold text-center mt-3">SPAM FILTERING</h3>
                  </div>
                  <div class="col-12">
                    <p class="text-justify">A spam filter is a program that is used to detect unsolicited and unwanted
                      email and prevent
                      those messages from getting to a user's inbox. Like other types of filtering programs, a spam
                      filter looks for certain criteria on which it bases judgments.</p>
                  </div>
                  <div class="col-12">
                    <a href="#result" class="btn btn-youtube float-right">Figure out</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr id="result" class="py-4">

<div class="comment">
  <div class="container">
    <form [formGroup]="spamFilterForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-12 text-center">
          <h1 class="font-weight-bold mb-4">Youtube comment check!</h1>
          <h4>Check your Youtube comment for spam content, rubbish content, advertisement content or not relevant
            content about the video!</h4>
          <textarea formControlName="comment" placeholder="Typing something..." class="p-2 comment-area w-100"
            name="content" id="y_content" cols="30" rows="10"></textarea>
        </div>
        <div class="col-6">
          <label for="select">Algorism:</label>
          <select class="custom-select w-50 mt-2 float-right" formControlName="algorism">
            <option [ngValue]="item" *ngFor="let item of algorisms" [value]="item.value">{{item.name}}</option>
          </select>
        </div>
        <div class="col-6">
          <button type="submit" [disabled]="!spamFilterForm.valid" class="btn btn-primary mt-2 w-50"><i
              class="fas fa-search mr-2"></i>Check</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="result my-4 py-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3>Result:</h3>
        <div class="badge ban-badge">
          <i class="fas fa-ban"></i> This comment is spam!
        </div>
        <hr>
        <div class="badge verify-badge">
          <i class="fas fa-check-circle"></i> This comment is not spam!
        </div>

      </div>
    </div>
  </div>
</div>
