.mdp-login {
  height: 100vh;
}

.padding-login {
  padding: 0px 70px 20px 70px;
}

.login-form {
  margin-left: 100px;
  margin-right: 100px;
  height: 500px;
  background: transparent;
}

.login-section-origin {
  z-index: 80;
  border-radius: 5px;
}

.try-section-origin {
  background: #1c1c1c;
  opacity: 0;
  z-index: 30;
  border-radius: 5px;
}

.form-section-origin {
  background: #1c1c1c;
  z-index: 40;
  border-radius: 5px;
}

.access-section-origin {
  z-index: 10;
  border-radius: 5px;
}

.positive-top {
  position: relative;
  top: -100%;
  border-radius: 5px;
}

.sectionLoginOnFirstClick {
  transform: translateX(100%);
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
  z-index: 10;
  border-radius: 5px;
  opacity: 1;
}

.sectionTryOnFirstClick {
  transform: translateX(-100%);
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
  opacity: 1;
  border-radius: 5px;
}

.formLoginBehaviorOnFirstClick {
  transform: translateX(-100%);
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
  opacity: 1;
  z-index: 10;
  border-radius: 5px;
}

.tryAccessBehaviorOnFirstClick {
  transform: translateX(100%);
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
  opacity: 1;
  z-index: 40;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sectionLoginReturnOrigin {
  transform: translateX(0);
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
  opacity: 1;
}

.sectionTryReturnOrigin {
  transform: translateX(0);
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
  opacity: 1;
}

.tryAccessBehaviorReturnOrigin {
  transform: translateX(0);
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
  opacity: 1;
  z-index: 10;
}

.formLoginBehaviorReturnOrigin {
  transform: translateX(0);
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
  opacity: 1;
  z-index: 40;
}
