<section id="footer">
  <div class="container">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-4 col-md-6">
        <h5>Group 3</h5>
        <ul class="list-unstyled quick-links">
          <li><a href="#"><i class="fa fa-angle-double-right"></i>Mai Van Yen - 17521288</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right"></i>Duong Phuoc Mau - 17520739</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right"></i>Le Tuan Khoi - 17520648</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-6">
        <h5>Data mining - IS252.K21 </h5>
        <p class="text-white">
          Provide knowledge about exploiting potential knowledge in databases. Students learn the knowledge of the
          knowledge mining process, common problems and association rules, sequence sequences, classification problems,
          clustering problems, and applications of data mining. Practice.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
        <p><u><a href="#">University of Information and Technology</a></u> is a university 
          of Vietnam National University, Inc. Saigon</p>
        <p class="h6">© All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com"
            target="_blank">Lucien Roux</a></p>
      </div>
      <hr>
    </div>
  </div>
</section>
